@charset "UTF-8";
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(53, 26, 26);
    background-color: antiquewhite;
}
h2{
    color: azure;
    background-color: antiquewhite;
}
p{
    text-align: justify;
}